body {
  font-family: "Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
  
}

.prints-image-area {
    background-image: url("https://combo.staticflickr.com/ap/build/images/prints/prints-page-hero.jpg");

    justify-content: center;
    background-size: cover;
    background-position: 0px -10vw;
    height: 50vw;

}

.prints-image-area-text {
  position: relative;
  top: 15%;
  left: 15%;
  max-width: 30%;
  font-size: 2vw;
}

.FAQ-image {
  width: 100%;
  height: auto;
}

.text-container-info {
  padding-top: 3%;
  padding-bottom: 3%
}

.text-container-row {
  padding-top: 3%;
  padding-bottom: 3%
}

body.modal-open {
  overflow: hidden;
  margin: auto
}

.footer-text {
  width: 100%;
}

.footer-button {
  position: absolute;
}

.grid-container {
  min-height: 40vw;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 5px;
  
}

.grid-item-text {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 5%;

  color: white;
  overflow:hidden; 
  text-overflow: ellipsis;
  width: 90%;
  white-space:nowrap; 
  text-shadow: 0px 0px 4px black;
  font-weight:500;
}

.grid-text {
  opacity: 0%;
  transition: opacity 0.5s;
}

.grid-item:hover .grid-text {
  opacity: 100%;
}

.grid-item-subtext {
  position: absolute;
  z-index: 1;
  bottom: 3%;
  left: 5%;

  color: lightgrey;
  overflow:hidden; 
  text-overflow: ellipsis;
  width: 90%;
  white-space:nowrap; 
  text-shadow: 0px 0px 3px black;
  font-weight:500;
  font-size:80%;
}

.grid-item-subtext:hover {
  color: white; 
}

.grid-item {
  position: relative;
  display: grid;
  cursor: pointer;
}

.grid-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grid-item:hover::before {
  opacity: 1;
}
.grid-item::before   {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 150%);
  margin-top:100px;
  height: 100px;
  width: 100%;
  content: '';
  z-index:0;
  opacity:0;
  transition: opacity 0.5s;
}

.grid-item .active {
  border:2px solid rgb(80, 156, 255);
  outline:2px solid rgb(80, 156, 255);
}

.prints-navbar-text {
  margin: 10px;
}

.search {
  display: block;
  direction: ltr;
  float: right;
}